/* CSS Document */

body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#F7F3E2;
}
.iso
{
text-align:right;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#FFFFFF;
line-height:18px;
}
.topmenu
{
text-align:center;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#FFFFFF;
line-height:18px;
}
.topmenu:hover
{
text-align:center;
text-decoration:underline;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#FFFFFF;
line-height:18px;
}
.content
{
text-align:justify;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#0d0c0a;
line-height:28px;
}
.copyright
{
text-align:center;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#FFFFFF;
}
.blazon
{
text-align:center;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#FFFFFF;
}
.blazon:hover
{
text-align:center;
text-decoration:underline;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#FF6600;
}
.tableborder
{
border-bottom-color:#846d49;
border-bottom-style:solid;
border-bottom-width:1px;
border-top-color:#846d49;
border-top-style:solid;
border-top-width:1px;
border-left-color:#846d49;
border-left-style:solid;
border-left-width:1px;
border-right-color:#846d49;
border-right-style:solid;
border-right-width:1px;
}
.contactname
{
text-align:left;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
color:#FFFFFF;
padding-left:12px;
line-height:30px;
}
.contactadd
{
text-align:left;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#000000;
padding-left:12px;
line-height:20px;
}
.enq
{
text-align:justify;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#272727;
line-height:28px;
}
.enq:hover
{
text-align:justify;
text-decoration:underline;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#006600;
line-height:28px;
}
.about
{
text-align:justify;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
color:#000000;
padding-left:12px;
line-height:20px;
}
.productlink
{
text-align:justify;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
color:#ffffff;
line-height:28px;
}
.productlink:hover
{
text-align:justify;
text-decoration:underline;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
color:#272727;
line-height:28px;
}
.product_title
{
text-decoration:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:normal;
font-weight:bold;
color:#24511A;
}
.product_title:hover
{
text-decoration:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:normal;
font-weight:bold;
color:#CC0000;
}
.centertext
{
text-align:center;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
color:#000000;
line-height:30px;
}
.lefttext
{
text-align:left;
text-decoration:none;
text-shadow:none;
text-transform:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
color:#000000;
padding-left:12px;
line-height:30px;
}